@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
  @apply px-2 py-1 border-b-2 border-transparent text-foreground hover:border-primary hover:text-primary transition duration-300;
}

.nav-link-active {
  @apply px-4 py-2 bg-primary text-white font-bold rounded-md border-none hover:border-none hover:text-white;
}
